* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: Arial, sans-serif;
    background: #eef5ea;
    color: #222;

}


/* NAVBAR */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    background: #2e7d32;
    color: white;

}

.nav-links a {

    color: white;
    text-decoration: none;

    margin-left: 20px;

    font-weight: bold;

}


/* HERO SECTION */

.hero {

    height: 70vh;

    background:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),

    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    padding: 60px;

    color: white;

}

.hero-content {

    width: 60%;

}

.hero h1 {

    font-size: 60px;
    margin-bottom: 20px;

}

.hero p {

    font-size: 20px;
    line-height: 1.6;

    margin-bottom: 25px;

}

.hero button {

    padding: 14px 28px;

    border: none;
    border-radius: 10px;

    background: #4caf50;
    color: white;

    font-size: 16px;

    cursor: pointer;

}


/* DASHBOARD */

.dashboard {

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));

    gap: 25px;

    padding: 50px;

}


/* CARDS */

.card {

    background: white;

    padding: 25px;

    border-radius: 18px;

    box-shadow:
    0px 4px 14px rgba(0,0,0,0.08);

    transition: 0.3s;

}

.card:hover {

    transform: translateY(-5px);

}

.card h2 {

    margin-bottom: 15px;
    color: #2e7d32;

}

.card p {

    margin-bottom: 10px;
    line-height: 1.5;

}

.card button {

    margin-top: 15px;

    padding: 10px 18px;

    border: none;
    border-radius: 8px;

    background: #2e7d32;
    color: white;

    cursor: pointer;

}

.card ul {

    padding-left: 20px;

}

.card li {

    margin-bottom: 10px;

}


/* FOOTER */

footer {

    text-align: center;

    padding: 30px;

    background: #dfead8;

    margin-top: 30px;

}